<ion-header>
  <ion-toolbar>
    <ion-title>
      App Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="(estudiantes$ | async) as estudiantes">
    <ion-card *ngFor="let est of estudiantes">
      <ion-card-header>
        <ion-card-title>{{ est.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ est.curso }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Edad: {{ est.edad }} años
      </ion-card-content>
    </ion-card>
    <div *ngIf="estudiantes.length === 0">
      No hay estudiantes registrados.
    </div>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
